header {
    /* give each element some color to see more easily */
    background-color: teal;
    /* notice this property on each rule, though, we'll use it when we're laying out the Parent Element's grid-template-area */
    grid-area: header;
    text-align: center;
  }
  main {
    background-color: lightblue;
    grid-area: main;
  }
  .main2{
    background-color: lightblue;
    grid-area: main2;
  }
  nav {
    background-color: cyan;
    grid-area: nav;
    
  }
  aside {
    background-color: purple;
    grid-area: aside;
  }
  .banner {
    background-color: darkblue;
    grid-area: banner;
    color: white;
    text-align: center;
  }
  footer {
    background-color: violet;
    grid-area: footer;
  }

  .container {
    display: grid;

    grid-template-columns: auto auto auto auto;
    grid-template-rows: 45pt 55pt 190pt 5pt 190pt 45pt;

    grid-template-areas:
      "aside header header "
      "aside nav nav "
      "main main main "
      "banner banner banner "
      "main2 main2 main2 "
      "footer footer footer "
  }

  /* .container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 45pt 55pt 180pt 180pt 25pt 45pt;

    grid-template-areas:
      "... header ..."
      "... aside ..."
      "... main ..."
      "... main ..."
      "... banner ..."
      "... footer ..."
      "... nav ..."
  }
  */
  #profile-pic {
    width: 100px;
    height: 120px;
    border-radius: 50%;
    margin: 2%auto;
    display: block;
  }